@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

:root{
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@theme{
    --color-bg-def: #08080B;
    --color-bg-2: #0F1015;
    --color-bg-3: #1F2128;
    --color-text-def: #F3F4F6;
    --color-text-green: #00FF66;
    --color-text-description: #9CA3AF;
}

body{
    font-family: var(--font-sans);
}

.system-text {
  font-family: var(--font-mono);
}
